<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>Gestor de Tareas</h1>
    </header>
    <main>
        <div class="agregar-tarea">
            <form action="{{url_for('main.agregar_tarea')}}" method="post">
                <input type="text" name="texto" id="texto" class="form-control">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
        <p class="titulo">Lista de tareas</p>
        <div class="tareas">
            <ul class="lista-tareas">
                {% for tarea in tareas %}
                <li id="{{tarea.id}}" class="tarea {{'completada' if tarea.completada else ''}}">
                    {{tarea.texto}}
                    <form action="{{url_for('main.completar_tarea', id=tarea.id)}}" method="post">
                        <button type="submit" class="checked {{'completado' if tarea.completada else ''}}"></button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>

</html>